* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-semibold';
  src: url('./font/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-medium';
  src: url('./font/Gilroy-Medium.ttf') format('truetype');
}

body,
html {
  --ff-lato: 'Lato', sans-serif;
  --ff-lancelot: 'Lancelot', cursive;
  --ff-gilroy: 'Gilroy', sans-serif;
  --fw-wght: 300;
  /* margin: 0;
  padding: 0; */
  /* overflow: hidden; */
  /* width: 100vw; */
  height: 100vh;
  overflow-x: hidden;
}